@import url(https://db.onlinewebfonts.com/c/5a7b515b7a87f453699e1bd76e689881?family=LeroyMerlinSans-Web+SemiBold);

@font-face {
  font-family: "LeroyMerlin SB";
  src: url("https://db.onlinewebfonts.com/t/5a7b515b7a87f453699e1bd76e689881.eot");
  src: url("https://db.onlinewebfonts.com/t/5a7b515b7a87f453699e1bd76e689881.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/5a7b515b7a87f453699e1bd76e689881.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/5a7b515b7a87f453699e1bd76e689881.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/5a7b515b7a87f453699e1bd76e689881.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/5a7b515b7a87f453699e1bd76e689881.svg#LeroyMerlinSans-Web SemiBold")format("svg");
}
