$lm-light-green: (
  50 : #e3f1e1,
  100 : #badbb3,
  200 : #8cc481,
  300 : #5dac4e,
  400 : #3b9a28,
  500 : #188802,
  600 : #158002,
  700 : #117501,
  800 : #0e6b01,
  900 : #085801,
  A100 : #8dff8a,
  A200 : #5bff57,
  A400 : #2aff24,
  A700 : #11ff0a,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

/* For use in src/lib/core/theming/_palette.scss */
$lm-dark-green: (
  50 : #e0ede1,
  100 : #b3d2b3,
  200 : #80b481,
  300 : #4d964f,
  400 : #268029,
  500 : #006903,
  600 : #006103,
  700 : #005602,
  800 : #004c02,
  900 : #003b01,
  A100 : #71ff71,
  A200 : #3eff3e,
  A400 : #0bff0b,
  A700 : #00f100,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

